body{
  background-color:powderblue;
}

hr{
  border-style: dotted none none;
//border-top-style: dotted;
//border-style: none;
  border-color: grey;
  width: 5%;
  border-width: 5px;
}

h3,h2{
  color: #fc5185;
}

h1{
  color: #f05454;
}
